<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dan Tsivinsky</title>
    <link rel="me" href="https://github.com/tsivinsky" />
    <link rel="stylesheet" href="/assets/global.css" />
    <link rel="stylesheet" href="/assets/home.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Dan Tsivinsky</h1>
        <a href="https://github.com/tsivinsky" rel="me">
          <img
            src="/assets/icons/github.svg"
            alt="Github"
            width="52"
            height="52"
          />
        </a>
      </div>
    </header>
    <main class="container">
      <p>
        There is nothing here yet. maybe I will add something later but who the
        fuck knows.
      </p>
    </main>
  </body>
</html>
