@import "tailwindcss";

:root {
  @apply text-[16px] xl:text-[20px] text-black;
}

@theme {
  --text-*: initial;
  --text-title: 2.25rem;
  --text-title--line-height: 2.75rem;
  --text-subtitle: 1.5rem;
  --text-subtitle--line-height: 1.75rem;
  --text-h3: 1.2rem;
  --text-h3--line-height: 1.5rem;
  --text-medium: 1rem;
  --text-medium--line-height: 1.5rem;

  --color-accent: #f3407c;
}

h1 {
  @apply text-title font-semibold -mx-0.5;
}

h2 {
  @apply text-subtitle font-semibold -mx-0.5;
}

h3 {
  @apply text-h3 font-semibold -mx-0.5;
}

p {
  @apply text-medium my-1;
}

a:not(:has(img)) {
  position: relative;
  display: inline-block;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 2px;
    background-color: var(--color-accent);
    transition: all 0.25s ease;
    transition-property: height, color;
  }

  &:hover {
    color: #fff;

    &::after {
      height: 100%;
    }
  }
}
