:root {
  --color-accent: #df367c;
  /* --color-accent: #ff4d80; */
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

html {
  color-scheme: dark;
  font-family: "IBM Plex Mono";
  height: 100%;
}

body {
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
  background-color: #000000;
  height: 100%;
}
