body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 46px;
  text-align: center;
}

nav {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}
