header {
  padding: 6px 0;
  height: 30dvh;
  background-color: var(--color-accent);
  display: flex;
  flex-direction: column;

  .container {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  a {
    margin-top: 12px;
  }
}

main.container {
  margin-top: 12px;
}

.github-icon {
  width: 3rem;
  height: 3rem;
}
